
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>友達測試網站</title>
	<link rel="stylesheet" href="static/icon/iconfont.css">
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/echarts.min.js"></script>

	

</head>
<body>
<div class="container-header">
    <ul class="nowTime">
        <li></li>
        <li></li>
    </ul>
    <h3>景碩平台</h3>
</div>
<div class="container-content">
    <div class="top">
		<div class="count-base" >
			<div class="com-count-title">
				<a class="button" href="/sec_page">Configure</a>
			</div>
		</div>
		<div class="count-resource">
		</div>	
    </div>

	<div class="mid">
		<div class="count-video_md " >
			<div class="com-count-title">動作流程偵測</div>
			<div class="com-screen-content">
				<img id="cameraFeed" src="{{ url_for('video_feed_0') }}" width="90%" height="90%">
			</div>
			<span class="left-top"></span>
			<span class="right-top"></span>
			<span class="left-bottom"></span>
			<span class="right-bottom"></span>
		</div>
		<div class="count-event" >
			<div class="com-count-title">動作流程狀態</div>
			<div class="com-screen-content">
				<!-- <img id="cameraFeed1" src="{{ url_for('video_feed_1') }}" width="90%" height="90%"> -->
			</div>
			<span class="left-top"></span>
			<span class="right-top"></span>
			<span class="left-bottom"></span>
			<span class="right-bottom"></span>
		</div>
		<div class="count-video_hd" >
			<div class="com-count-title">手部異常偵測</div>
			<div class="com-screen-content">
				<!-- <img id="cameraFeed1" src="{{ url_for('video_feed_1') }}" width="90%" height="90%"> -->
			</div>
			<span class="left-top"></span>
			<span class="right-top"></span>
			<span class="left-bottom"></span>
			<span class="right-bottom"></span>
		</div>
	</div>
	
	<div class="bottom">
	</div>
	<div class="count-console" >
		<div class="com-count-title">Console</div>
		<div class="com-screen-content">
				<div class="topRec_List">
					<dl>
						<dd>日期</dd>
						<dd>時間</dd>
						<dd>違規狀況</dd>
					</dl>
					<div class="maquee">
						<ul>											
							<p id="console" style="font-size:30px;"></p>
						</ul>
					</div>
				</div>
		</div>
		<span class="left-top"></span>
		<span class="right-top"></span>
		<span class="left-bottom"></span>
		<span class="right-bottom"></span>
	</div>
	<div class="clearfix"></div>
</div>

<script type="text/javascript"> 
//根据不同的分辨率调用不同的css和js
	document.write("<link href='static/css/test-1920.css' rel='stylesheet' type='text/css'>");  		
	document.writeln("<script type=\"text/javascript\" src=\"static/js/test-1920.js\"><\/script>");
</script>
<!--console浮動-->
<script type="text/javascript"> 
	function autoScroll(obj){  
		$(obj).find("ul").animate({  
			marginTop : "-39px"  
		},500,function(){  
			$(this).css({marginTop : "0px"}).find("li:first").appendTo(this);  
		})  
	}  
	$(function(){  
		setInterval('autoScroll(".maquee")',2000);
	}) 
	function set_console() {
		$.ajax({
			type: "POST",
			dataType: "json",
			url: "/read_console_config",
			success: function (result) {
				console = document.getElementById("console")
				allContext = result.split('\n')
				for (var i = 0; i < allContext.length - 1; i++) {
					consoleDate = allContext[i].split(' ')[0]
					consoleTime = allContext[i].split(' ')[1]
					consoleEvent = allContext[i].replace(consoleDate, "")
					consoleEvent = consoleEvent.replace(consoleTime, "")					
					console.innerHTML = console.innerHTML + '<li>' + '<div>' + consoleDate + '</div>' + '<div>' + consoleTime+ '</div>' + '<div>' + consoleEvent+ '</div>' + '</li>'
				}
			}
		})
    }

	$(function(){  
	setInterval(set_console());
		})
		
	window.setInterval(function () {
        var myImageElement = document.getElementById('cameraFeed');
        var timestamp = new Date().getTime()
        var newUrl = "{{ url_for('video_feed_0') }}" + '?_=' + timestamp;
        myImageElement.src = newUrl;
        //motionDetection_result()
    }, 150);
</script> 
</body>
</html>